## What was shipped this week :shipit:

{{#shipped}}
* **{{name}}**

  {{description}}
{{/shipped}}

{{^shipped}}
No release shipped this week.
{{/shipped}}

## What is planned :+1:

These are next features to be delivered in priority.

{{#planned}}
* **{{name}}**

  {{description}}
{{/planned}}

{{^planned}}
No further releases planned at this time.
{{/planned}}

## What is unscheduled :question:

These are features that still required discussion, estimation and prioritization.

{{#unscheduled}}
* **{{name}}**

  {{description}}
{{/unscheduled}}

{{^unscheduled}}
There are no unscheduled releases.
{{/unscheduled}}

## Known issues :bomb:

None.

